AIRS_API_URL=YOUR API INTERCEPT URL
AIRS_SECURITY_PROFILE=YOUR SECURITY PROFILE NAME
AIRS_API_TOKEN=YOUR API TOKEN
AIRS_TIMEOUT=60
#set this to redteam to enable red team mode and skip api intercept
AIRS_USAGE=